* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: aqua;
}
#root h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 50px;
  font-weight: 900;
  margin-top: 20px;
}
#root span {
  width: 60%;
  height: 2px;
  background: rgb(20, 182, 144);
  display: block;
  margin: 10px auto 0 auto;
}
.container {
  margin-top: 50px;
  width: 60%;
  margin: 40px auto 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 15px;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.box:hover {
  background-color: rgb(9, 201, 201);
  transform: scale(1.1);
  color: white;
  cursor: pointer;
}
.box h2 {
  padding: 5px;
  text-transform: capitalize;
}
.box img {
  padding-top: 5px;
}

/* 1300pxgacha */
@media only screen and (max-width: 1300px) {
  .container {
    width: 80%;
  }
  #root span {
    display: none;
  }
  .container {
    grid-template-columns: repeat(4, 1fr);
  }
}
/* 900pxgacha */
@media only screen and (max-width: 900px) {
  .container {
    width: 85%;
  }

  #root h1 {
    font-size: 38px;
  }
}
/* 600pxgacha */
@media only screen and (max-width: 600px) {
  .container {
    width: 90%;
    grid-template-columns: repeat(3, 1fr);
    margin: 20px auto;
  }

  #root h1 {
    font-size: 28px;
  }
  .box h2 {
    font-size: 18px;
  }
}
/* 376pxgacha */
@media only screen and (max-width: 376px) {
  .container {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }
  #root h1 {
    font-size: 28px;
  }
  .box h2 {
    font-size: 18px;
  }
}
