* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  width: 120px;
}

/* 1300pxgacha */
/* 900pxgacha */
@media only screen and (max-width: 900px) {
  img {
    width: 100px;
  }
}
/* 600pxgacha */
@media only screen and (max-width: 600px) {
  img {
    width: 90px;
  }
}
/* 376pxgacha */
@media only screen and (max-width: 376px) {
  img {
    width: 100px;
  }
}
